.user-topmenu-state-icon {
    icon-size: 14px;
}

.user-topmenu-state-icon:active {
    color: #f6b73c;
}

.user-topmenu-quick-item:active {
    background-color: rgba(77, 163, 255, 0.18);
    border-radius: 999px;
}
